@model CollegeStarterPack.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<meta charset="utf-8">
<title>CollegeStarterPack</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
<!-- bootstrap -->

<link href="~/Content/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Template/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />


<link href="~/Content/Template/themes/css/bootstrappage.css" rel="stylesheet" />

<!-- global styles -->

<link href="~/Content/Template/themes/css/flexslider.css" rel="stylesheet" />

<link href="~/Content/Template/themes/css/main.css" rel="stylesheet" />

<!-- scripts -->

<script src="@Url.Content("~/Content/Template/")themes/js/jquery-1.7.2.min.js"></script>
<script src="@Url.Content("~/Content/Template/")bootstrap/js/bootstrap.min.js"></script>
<script src="@Url.Content("~/Content/Template/")themes/js/superfish.js"></script>
<script src="@Url.Content("~/Content/Template/")themes/js/jquery.scrolltotop.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="@Url.Content("~/Content/Template/")js/respond.min.js"></script>
<![endif]-->

<br/>
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
