

@{
    ViewBag.Title = "About";

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>CollegeStarterPack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->

    <link href="~/Content/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Template/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />


    <link href="~/Content/Template/themes/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->

    <link href="~/Content/Template/themes/css/flexslider.css" rel="stylesheet" />

    <link href="~/Content/Template/themes/css/main.css" rel="stylesheet" />

    <!-- scripts -->

    <script src="@Url.Content("~/Content/Template/")themes/js/jquery-1.7.2.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")bootstrap/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/Template/")themes/js/superfish.js"></script>
    <script src="@Url.Content("~/Content/Template/")themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="@Url.Content("~/Content/Template/")js/respond.min.js"></script>
    <![endif]-->

   
</head>

<body>

    <h1><center><u>About Us</u></center></h1>
    <br/>
    
                    <div >
                        <img src="@Url.Content("~/Content/Template/")themes/images/dangri/Dangri5.png" alt="Error">

                        <br/>
                        <br/>

                        <h5>Fishing Season Now Open</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
                    </div>
               
</body>
</html>
