@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>




<meta charset="utf-8">
<title>CollegeStarterPack</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
<!-- bootstrap -->

<link href="~/Content/Template/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Template/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />


<link href="~/Content/Template/themes/css/bootstrappage.css" rel="stylesheet" />

<!-- global styles -->

<link href="~/Content/Template/themes/css/flexslider.css" rel="stylesheet" />

<link href="~/Content/Template/themes/css/main.css" rel="stylesheet" />

<!-- scripts -->

<script src="@Url.Content("~/Content/Template/")themes/js/jquery-1.7.2.min.js"></script>
<script src="@Url.Content("~/Content/Template/")bootstrap/js/bootstrap.min.js"></script>
<script src="@Url.Content("~/Content/Template/")themes/js/superfish.js"></script>
<script src="@Url.Content("~/Content/Template/")themes/js/jquery.scrolltotop.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="@Url.Content("~/Content/Template/")js/respond.min.js"></script>
<![endif]-->
</head>
<body>

    <h1><center><u>Contact Us</u></center></h1>


    <section class="main-content">
        <div class="row">
            <div class="span8">
                <div>
                    <div>
                        <br />
                        <br />
                        <h5>ADDITIONAL INFORMATION</h5>
                        <p>
                            <strong>Phone:</strong>&nbsp;9897989711<br>

                            <strong>Email:</strong>&nbsp;collegestarterpack@gmail.com
                        </p>
                        <br />
                        <h5>More Details</h5>
                        <p>
                            <strong>Place</strong>&nbsp;Dehradun<br>
                            <strong>Dit University</strong>&nbsp;<br>
                            <strong>Pincode</strong>&nbsp;248001
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
